* {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 36px;
  height: 60%;
  width: 60%;
  text-align: center;
}

h2 {
  height: 60%;
  width: 60%;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
}

.quizButton {
  align-items: start;
  display: inline-block;
  background-color: rgb(143, 3, 143);
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  width: 30%;
}

.quizButton:hover {
  background-color: rgb(202, 58, 202);
}

.result {
  text-align: left;
  color: lightslategray;
  font-size: 24px;
}

#startButton {
  background-color: rgb(143, 3, 143);
  padding: 5px;
  color: white;
  border-radius: 10px;
  border: none;
}

#startButton:hover {
  background-color: rgb(202, 58, 202);
}
